<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Meadowlark Travel</title>
</head>
<body>
  <header><img src="/img/nodejs-logo.png" alt="logo!"></header>
   {{{body}}}
    
</body>
</html>